<nav class="ui tabular menu">
    <header class="ui header item"><a href="/signup"> WeatherTop </a></header>

    <h3>&nbsp<i class="yellow large sun icon"></i><span class="ui blue text">The One Stop Shop For Weather </span></h3>
    <div class="right menu">
        <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
        <a id="about" class="item" href="/about"> About </a>
        <a id="my-account" class="item" href="/my-account"> My Account </a>
        <a id="logout" class="item" href="/logout"> Logout </a>

    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>