
<div class="ui five inverted cards">
    <div class="red card">
        <div class="image">
            <img>
        </div>
        <div class="extra">
         <h3>  ${_station.name} <i class="right floated purple big map marker icon"></i></h3>
            <div class="ui yellow rating" data-rating="1"></div>
        </div>
    </div>
    <div class="orange card">
        <div class="image">
            <img>
        </div>
        <div class="extra">
            <h3>Weather<i class="right floated red big ${_station.weatherConditionIcon}"></i></h3>
            <p>${_station.weatherCondition}</p>
          <div class="ui yellow rating" data-rating="2"></div>
      </div>
  </div>
  <div class="yellow card">
      <div class="image">
          <img>
      </div>
      <div class="extra">
          <h3>Temp<i class="right floated blue big thermometer quarter icon"></i></h3>
          <p>${_station.latestReading?.temperature}C</p>
          <p>${_station.fahrenheit}F</p>
          <div class="ui yellow rating" data-rating="3"></div>
      </div>
  </div>
  <div class="green card">
      <div class="image">
          <img>
      </div>
      <div class="extra">
          <h3>Wind  <i class="right floated green big wind icon"></i> </h3>
          <p>${_station.toBeaufort} bft
              <br> ${_station.windCompass}
          <br>feels like
          <br>&{_station.windChill.format('0.##')}
          </p>

          <div class="ui yellow rating" data-rating="4"></div>
      </div>
  </div>
  <div class="blue card">
      <div class="image">
          <img>
      </div>
      <div class="extra">
          <h3>Pressure</h3>
          <p>${_station.latestReading?.pressure} hpa</p>
          <div class="ui yellow rating" data-rating="5"></div>
      </div>

  </div>